auth.socialmaps.org {
    @not_trusted_ip not remote_ip private_ranges
    @public_paths   path /realms/* /resources/* /.well-known/*

    log

    handle @public_paths {
        reverse_proxy keycloak:8080
    }

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }
        reverse_proxy keycloak:8080
    }
}

logs.socialmaps.org {
    @not_trusted_ip not remote_ip private_ranges

    log

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }

        reverse_proxy victoria-logs:9428
    }
}

api.socialmaps.org {
    log

    reverse_proxy socialmaps-api:8080
}
