auth.socialmaps.org {
    @not_trusted_ip not remote_ip 10.0.0.2/32
    @public_paths   path /realms/* /resources/* /.well-known/*

    log

    handle @public_paths {
        reverse_proxy keycloak:8080
    }

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }
        reverse_proxy keycloak:8080
    }
}

logs.internal.socialmaps.org {
    @not_trusted_ip not remote_ip 10.0.0.2/32

    log

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }

        reverse_proxy victoria-logs:9428
    }
}

api.socialmaps.org {
    log

    reverse_proxy socialmaps-api:8080
}

app.socialmaps.org {
    log

    reverse_proxy socialmaps-webapp:80
}

status.socialmaps.org {
    @not_trusted_ip not remote_ip 10.0.0.2/32
    @public_paths   path / /status/* /assets/* /icon.svg /api/status-page/* /api/entry-page /serviceWorker.js

    log

    handle @public_paths {
        reverse_proxy uptime-kuma:3001
    }

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }
        reverse_proxy uptime-kuma:3001
    }
}

pgadmin.socialmaps.org {
    @not_trusted_ip not remote_ip 10.0.0.2/32

    log

    handle {
        respond @not_trusted_ip 403 {
            body "Unauthorized IP"
            close
        }

        reverse_proxy pgadmin4:80
    }
}
