[Interface]
Address = 10.0.0.2/32
PrivateKey = {{ secret_wg_client_private_key }}

[Peer]
PublicKey = IiUMrgzOBSNwGVW96QlsaI5rlfhLZ1WNPmQcjlADjVI=
Endpoint = 95.217.79.58:51820
AllowedIPs = 95.217.79.58/32
